@font-face {
  font-family: 'Ingleby';
  src: url('./fonts/Ingleby_regular.ttf');
  font-weight: 100;

  font-family: 'HEADOH';
  src: url('./fonts/HEADOH.TTF');
  font-weight: 100;
}

* {
  font-family: Open Sans, sans-serif, Ingleby, HEADOH;
}

#canvas {
  max-width: 50%;
  max-height: 50%;
}

.captura {
  max-width: 50%;
  max-height: 50%;
}
